<router-outlet></router-outlet>

<main>
  <section id="games" >
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Counter-Strike: Global Offensive">
        <div class="videos">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/X4lbt7rkz9o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </mat-tab>
      <mat-tab label="League Of Legends">
        <div class="videos">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/wMXanhLW10M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </mat-tab>
      <mat-tab label="Tekken 7">
        <div class="videos">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/PX6ZkYptVHc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
        </div>
      </mat-tab>
    </mat-tab-group>
  </section>

</main>