.control {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
  }
  .control img {
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(25px);
  }
  
  .superior2_texto {
    width: 80%;
    height: 85%;
    border-radius: 2px;
    text-align: center;
    background-color: #342446;
    font-size: 30px;
    color: #fff;
    margin: auto;
    position: absolute;
    top: 20%;
    bottom: 10%;
    left: 0%;
    right: 0%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  

  div.quadrado {
    width:60%;
    height:25%;
    border: 2px solid; /* As 4 bordas sólidas com 25px de espessura */
    border-color:#fff; /* cores: topo, direita, inferior, esquerda */
    margin: auto;
    position: absolute;
    top: 20%;
    bottom: 65%;
    left: 0%;
    right: 0%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
 }


 div.divisoria {
    width:0%;
    height:50%;
    border: 1px solid; /* As 4 bordas sólidas com 25px de espessura */
    border-color:#fff; /* cores: topo, direita, inferior, esquerda */
    margin: auto;
    position: absolute;
    top: 80%;
    bottom: 45%;
    left: 0%;
    right: 0%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
 }


 .text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: justify;
    margin: 20px 40px;
  
  }

  .h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 30px 30px;
    
  }

  .pix {
    width: 17%;
    height: 35%;
    text-align: center;
    background: url("/assets/img/pix.png");
    color: #fff;
    margin: auto;
    position: absolute;
    top: 50%;
    bottom: 10%;
    left: 0;
    right: 39%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }


  .h {
    width: 15%;
    height: 34%;
    text-align: center;
    background: url("/assets/img/H.png");
    color: #fff;
    margin: auto;
    position: absolute;
    top: 50%;
    bottom: 10%;
    left: 35%;
    right: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }