<main>
    <header>
        <strong>Chat</strong>
    </header>
    <div id="messages">
        <span class="my-message">Oi gente</span>
        <span class="other-message">eae</span>
        <span class="other-message"> {{ cdPartida }}</span>
        <span class="my-message">É essa partida mesmo</span>
        <span class="other-message"> {{ cdPartida }}</span>
        <span class="other-message"> {{ cdPartida }}</span>
        <span class="my-message">É essa partida mesmo</span>
        <span class="my-message">É essa partida mesmo</span>
        <span class="my-message">É essa partida mesmo</span>
    </div>
    <div id="actions">
        <input type="text" name="message" id="message" placeholder="Digite uma mensagem...">
        <div id="submit">
            <mat-icon>send</mat-icon>
        </div>
    </div>
</main>