
.background{

  background-color: #342446;
  width: 100%;
  height: 100%;

}

.header{

  
  width: 100vw;
  height: 15vh;
  display: flex; /* seguir dentro da div*/
  flex-direction: row; /* direção de uma linha vai ficar na mesma direção*/
  flex-wrap: wrap; /* força ficar na mesma direção*/ 
  justify-content: space-between; /* coloca espaço entre todos os items que estão dentro da div na horizontal*/ 
  margin-top: 55px;
}

.quadradotabela{
 
  width: 100vw;
  height: 55vh;
  display: flex; /* seguir dentro da div*/
  flex-direction: row; /* direção de uma linha vai ficar na mesma direção*/
  flex-wrap: wrap; /* força ficar na mesma direção*/ 
  justify-content: space-between; /* coloca espaço entre todos os items que estão dentro da div na horizontal*/ 
  margin-top: 60px;
}
.tabela{

  width: 50%;
  height: 50%;
  margin: 0 auto;

}

.quadradocriarsala{
  
  width: 100vw;
  height: 10vh;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 30px;
  
}

.buttoncriarsala{
  height: 40px;
  margin-left: 15px;
}

.listcheckbox{
  
  
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;/* direção de uma linha vai ficar na mesma direção no caso na mesma coluna*/
  flex-wrap: wrap;
  padding: 10px;

}

.pesquisar{
  
  padding-top: 10px;
  justify-content: flex-end;
  padding-right: 30px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 


}
.imput{
  width: 30%;

}
.buttonpesquisar{
  height: 40px;
  margin-left: 15px;
}


.checkbox{
    width: 20%;
    height: 60%;
    border: solid 1px;
    text-align: center;
    color:#342446;
    position: absolute;
    top: 15%;
    bottom: 0%;
    left: 0%;
    right: 60%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }


  .custom-checkbox input,
  .custom-radio input{
    display: none;
  }
  
  .custom-checkbox input + label:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: purple;
    border: 1px solid gray;
    display: inline-block;
    vertical-align: middle;
    text-align:justify;
    margin-right: 9px;
    margin-bottom: 4px;
  }

  
  .custom-checkbox input:checked + label:before {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
    background-color: green;
    background-position: center;
    border: none;
    padding: 1px;
  }
  



