<router-outlet></router-outlet>

<main class="background">

  <section class="header">
    <div class="listcheckbox">
      <div class="custom-checkbox">
        <input id="checkbox-1" value="Tekken7" type="checkbox">
        <label for="checkbox-1" class="text-white textjogo">Tekken 7</label>
      </div>

      <div class="custom-checkbox">
        <input id="checkbox-2" value="Sala Vazia" type="checkbox">
        <label for="checkbox-2" class="text-white textjogo">Sala Vazia</label>
      </div>

      <div class="custom-checkbox">
        <input id="checkbox-3" value="LOL" type="checkbox">
        <label for="checkbox-3" class="text-white textjogo">LOL</label>
      </div>

      <div class="custom-checkbox">
        <input id="checkbox-4" value="CS-GO" type="checkbox">
        <label for="checkbox-4" class="text-white">CS-GO </label>
      </div>
    </div>


    <div class="pesquisar">
      <input class="form-control mr-sm-2 imput" type="search" placeholder="Pesquisar" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0 buttonpesquisar" type="submit">Pesquisar</button>
    </div>
  </section>

  <section class="quadradotabela">

    <div class="table-responsive-sm table-hover table-dark tabela">
      <table class="table">
        <thead>
          <tr class="table-success">
            <th scope="col">#</th>
            <th scope="col">Jogo</th>
            <th scope="col">Nome da Sala</th>
            <th scope="col">Nível</th>
            <th scope="col">Limite</th>
          </tr>
        </thead>

        <tbody *ngIf="partidas?.length">
          <tr class="table-success" *ngFor="let partida of partidas; let i = index">
            <th scope="row">{{ i }}</th>
            <td>{{ partida.nm_jogo }}</td>
            <td>{{ partida.nm_partida }}</td>
            <td>Iniciante</td>
            <td>{{ partida.jogadores?.length ? partida.jogadores?.length : '0' }}/{{partida.limiteUsuarios}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section class="quadradocriarsala">

    <div class="criarsala">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-success my-2 my-sm-0 buttoncriarsala" data-toggle="modal"
        data-target="#exampleModal">
        Criar Sala
      </button>
    </div>

  </section>



</main>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Criação de sala</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="nomedasala" [formGroup]="partidaForm">

          <label for="exampleFormControlSelect2">Selecione o Jogo</label>
          <select class="form-control" formControlName="cd_jogo">
            <option value="2">LOL</option>
            <option value="1">CS-GO</option>
            <option value="3">TEKKEN 7</option>
          </select>

          <div class="form-group">
            <label>Nome da Sala</label>
            <input formControlName="nm_partida" type="text" class="form-control" id="Nomedasala" placeholder="Nome da Sala">
          </div>



          <label for="exampleFormControlSelect2">Nível</label>
          <select class="form-control">
            <option>Iniciante</option>
            <option>Moderado</option>
            <option>Avançado</option>
          </select>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
        <button [disabled]="!partidaForm.valid" type="button" class="btn btn-success" (click)="submit()">Criar Sala</button>
      </div>
    </div>
  </div>
</div>