<body>
    <div class="control">
      <img class="img-fluid"src="assets/img/valorant2.jpg" />
      <div class="superior">
            <div class="safehouse"></div>
            <button class="button1" type="button" >Entre para a Familia </button>
      </div>
    </div>
  
  
    <div class="control2">
        <div class="superior2">
          <div class="superior2_texto">
            <h3 class="h31">Nossa Missão</h3>
             <p class="text"> A nossa plataforma tem como principal objetivo uma jogatina
                segura, prática. Evitando que os usuários sofram com ataques gratuítos em seu momento de 
                lazer.
              </p>
          
          </div>
        </div>  
    </div>
  
    <div class="control3">
      <img class="img-fluid"src="assets/img/arun.jpg" />
      <div class="superior3">
        <div class="superior3_texto">
          <h3 class="h3">Família</h3>
          <p class="text">Cada um joga do seu próprio jeito, e com  seus
            próprios objetivos, e mesmo que muitos dos objetivos de muitos 
            players se alinhem, na maioria das vezes as pessoas que querem seguir carreira caem com aqueles
            que só querem Jogar por diversão e vice e versa.
  
          </p>
          <p class="text">Cada jogo tem sua comunidade, cada comunidade tem partes com inúmeros objetivos,
            decidimos organizar tudo, alinhar interesses, para assim termos uma casa segura ou "SafeHouse",
            para essa família enorme, que são os gamers.
          </p>
        </div>
      </div>
    </div>
  
  </body>
