
<main class="control">
    <img class="img-fluid" src="/assets/img/florian.jpg" />

    <div class="fundo">
      <div id="container-foto">
          <img class="profilePicture" src="http://s2.glbimg.com/k9S_nEXQns81MzLlZO61JyCwqRM=/0x0:694x363/695x364/s.glbimg.com/po/tt2/f/original/2015/07/01/snapchat-flashy-features.jpg"  />
        <p class="text" >
          Querido usuário fique ciente que sua foto de perfil será vista por inúmeras pessoas.
          caso a sua foto fira as diretrizes do site, sua conta poderá ser banida.
        </p>
      </div>
      
      <mat-list>
        <mat-list-item class="text"> {{ usuario.nm_usuario }} </mat-list-item>
        <mat-list-item class="text"> {{ usuario.ds_email }} </mat-list-item>
        <mat-list-item class="text"> {{ usuario.ds_telefone }} </mat-list-item>
        <mat-list-item class="text"> {{ usuario.honra.nm_honra }} </mat-list-item>
      </mat-list>
      <button mat-raised-button color="primary" style="width: 200px;" class="text">Alterar Perfil</button>
    </div>
</main>

 <!-- Modal -->

 <div class="modal fade" id="siteModal" tabindex="-1" role= "dialog">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Cadastro</h5>
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <div>
          <h6 class="modal-title textmodal">Nome</h6>
          <div class="col-sm-12 ">
          <input type="text" class="form-control" 
          name="nome" id="nome" placeholder="nome " >
          </div>

          <div>
          <h6 class="modal-title textmodal">E-mail</h6>
          <div class="col-sm-12 ">
          <input type="text" class="form-control" 
          name="E-mail" id="E-mail" placeholder="lopsan@gmail.com " >
          </div>

          <div>
          <h6 class="modal-title textmodal">Data de Nascimento</h6>
          <div class="col-sm-12 ">
          <input type="date" class="form-control" 
          name="dt_Nascimento" id="E-mail" placeholder="25/06/1994" >
          </div>

          <div>
            <h6 class="modal-title textmodal">Celular</h6>
            <div class="col-sm-12 ">
            <input type="tel" class="form-control" 
            name="cd_telefone" id="foneid" placeholder="(xx)xx-xx-xx-xx" >
          </div>

          <div>
            <h6 class="modal-title textmodal">Endereço</h6>
            <div class="col-sm-12 ">
            <input type="end" class="form-control" 
            name="ds_endereco" id="fendid" placeholder="Cidade Raccon City, rua Kendo n 2236 " >
          </div>

         
          <p></p>

          
        </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Fechar</button>
          
          <button type="button" class="btn btn-outline-success">Cadastrar</button>

        </div>



      </div>

    </div>

  </div>
