.background {
  background-color: #342446;
  width: 100vw;
  height: 100vh;
}

.header {
  width: 100vw;
  height: 15vh;
  display: flex; /* seguir dentro da div*/
  flex-direction: row; /* direção de uma linha vai ficar na mesma direção*/
  flex-wrap: wrap; /* força ficar na mesma direção*/ 
  justify-content: space-between; /* coloca espaço entre todos os items que estão dentro da div na horizontal*/ 
  margin-top: 55px;
  justify-content: center;
}

#title {
  text-align: center;
  align-self: center;
  width: 100%;
}

#message {
  width: 53%;
  border: white 2px solid;
  padding: 16px;
}

#form {
  width: 100vw;
  height: 50vh;
  display: flex; /* seguir dentro da div*/
  flex-direction: column; /* direção de uma linha vai ficar na mesma direção*/
  flex-wrap: wrap; /* força ficar na mesma direção*/ 
  margin-top: 110px;
  align-items: center;
}

.input {
  width: 50vw;
} 

#messageInput {
  height: 12vh;
}

.buttons {
  width: 190px;
  margin: 6px;
}

#buttons {
  margin: 5px;
}

#warning {
  margin-top: 10px;
  width: 53vw;
  background-color: rgb(206, 209, 0);
}



input[type='file'] {
  display: none
}

.input-wrapper label {
  background-color: #3498db;
  border-radius: 3px;
  color: #fff;
  padding: 8px 25px;
  width: 190px;

}

.input-wrapper label:hover {
  background-color: #2980b9
}