<main>
    <img id="img-fluid" src="/assets/img/florian.jpg" />
    <mat-card id="fundo">
        <section id="fotoUsuario">
            <div id="imageUser">
                <mat-card-subtitle>
                    <strong>
                        Escolha o arquivo da foto de perfil
                    </strong>
                </mat-card-subtitle>
                <br />
                <input type="file" name="profile" id="profile" (change)="fileChange($event.target.files)">
            </div>
            <div id="aviso">
                <mat-card-subtitle id="titleImage">
                    <strong>
                        Escolha a sua foto de perfil
                    </strong>
                </mat-card-subtitle>
                <p id="alertImage" class="text">
                    Esteja ciente de que a sua foto de perfil será vista por inúmeras pessoas. <br/>
                    Uma foto que contenha qualquer tipo conteudo racista/sexista/xenofobico fara a sua conta ser bánida.
                </p>
            </div>
        </section>
        <form [formGroup]="criarUsuario">
            <mat-form-field appearance="legacy" id="nameInput" class="input">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Digite o seu nome" formControlName="nm_usuario">
            </mat-form-field>

            <mat-form-field appearance="legacy" id="emailInput" class="input">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="Digite o seu email" formControlName="ds_email">
            </mat-form-field>

            <mat-form-field appearance="legacy" id="emailConfirmationInput" class="input">
                <mat-label>Confirme o seu e-mail</mat-label>
                <input matInput placeholder="Confirme o seu e-mail" (change)="checkEqual('email')" formControlName="ds_emailConfirmation">
            </mat-form-field>

            <mat-form-field appearance="legacy" id="senhaInput" class="input">
                <mat-label>Senha</mat-label>
                <input matInput placeholder="Digite a sua senha" formControlName="cd_senha"
                    [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field appearance="legacy" id="senhaConfirmationlInput" class="input">
                <mat-label>Confirme a sua senha</mat-label>
                <input matInput placeholder="Confirme a sua senha" (change)="checkEqual('senha')" formControlName="cd_senhaConfirmation"
                    [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
            </mat-form-field>

            <mat-form-field appearance="legacy" id="telefoneInput" class="input">
                <mat-label>Telefone</mat-label>
                <input matInput placeholder="Digite o telefone" formControlName="cd_telefone">
            </mat-form-field>

            <mat-form-field appearance="legacy" id="dataInput" class="input">
                <mat-label>Data de nascimento</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dt_nascimento">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </form>

        <mat-card-footer>
            <button mat-raised-button id="createBtn" color="accent" (click)="submit()" [disabled]="canCreateUser()" >Cadastrar!</button>
            <br />
            <span *ngIf="showEmailNotEqualMessage">
                Os emails não são iguais!
            </span>
            <br />
            <span *ngIf="showSenhaNotEqualMessage">
                As senhas não são iguais!
            </span>
        </mat-card-footer>
    </mat-card>
</main>