<router-outlet></router-outlet>


<div class="control">
    <img class="img-fluid"src="/assets/img/florian.jpg" />
    <div class="superior2_texto">
      <h3 class="h3"> AJUDE A SAFEHOUSE</h3>  
          <div class="quadrado">
              <p class="text"> A SAFEHOUSE tem como principal objetivo atender seus jogadores sempre da 
                  melhor maneira possível, caso queira ajudar o site você pode, através do PIX,
                  a SAFEHOUSE agradece a todos os usuários.
                </p>
          </div>

         <div class="pix"></div>
         <div class="divisoria"></div>
         <div class="h"></div>
    </div>
</div>

