<router-outlet></router-outlet>



<div class="quadradocheckbox">
  
  <div class="checkbox">

  
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark jogo" style="background-color: #342446;">
     <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white textjogo" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Mortal Kombat 11
    </a>
    <div class="dropdown-menu " style="background-color: #342446;" aria-labelledby="navbarDropdown">
      <a class="dropdown-item text-white" href="#">League of legends</a>
      <a class="dropdown-item text-white" href="#">Tekken 7</a>
      <a class="dropdown-item text-white" href="#">CS:GO</a>
    </div>
  </li>
  </nav>

  <div class="custom-checkbox">
    <input id="checkbox-1" type="checkbox">
    <label for="checkbox-1" class="text-white textjogo">Global</label>
  </div>

  <div class="custom-checkbox">
    <input id="checkbox-2" type="checkbox">
    <label for="checkbox-2" class="text-white textjogo">Casual</label>
  </div>

  <div class="custom-checkbox">
    <input id="checkbox-3" type="checkbox">
    <label for="checkbox-3" class="text-white custom3">HeadSet </label>
  </div>
  


</div>
  
<div class="quadradosalas">

  


  <form class="form-inline ">
    <input class="form-control mr-sm-2 pesquisa" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0 pesquisabotao" type="submit">Search</button>
  </form>



</div>
