.background{

  background-color: #342446;
  width: 100%;
  height: 100%;

}
.listadeespera{
  
  width: 50vw;
  height: 100vh;
  display: flex; /* seguir dentro da div*/
  flex-direction: row; /* direção de uma linha vai ficar na mesma direção*/
  flex-wrap: wrap; /* força ficar na mesma direção*/ 
  justify-content: space-between; /* coloca espaço entre todos os items que estão dentro da div na horizontal*/ 
  
}

.placar{
  margin-top: 61px;
  margin-left: 30px;
  width: 100vw;
  height: 22vh;

}

.tablee{
  
  width: 100vw;
  height: 68vh;


}

.tabela{
  margin-left: 10px;
  width: 45vw;
  height: 55vh;
  margin: 0 auto;
}

.h2{
  color:#fff;
}