<router-outlet></router-outlet>

<main class="background">

  <section class="listadeespera">

    <div class="placar">
      <h2 class="h2">Nome da Sala:</h2>
      <h2 class="h2">Nível:</h2>
      <h2 class="h2">Jogadores:</h2>
    </div>
    <div class="tablee">
    <div class="table-responsive-sm table-hover table-dark tabela">
        <table class="table tabela">
          <thead>
            <tr class="table-success">
              <th scope="col">#</th>
              <th scope="col">Jogadores</th>
              <th scope="col">Honra</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-success">
              <th scope="row">1</th>
              <td>Jogador 1</td>
              <td>Iniciante</td>
            </tr>
            <tr class="table-success">
              <th scope="row">2</th>
              <td>Jogador 2</td>
              <td>Iniciante</td>
            </tr>
            <tr class="table-success">
              <th scope="row">3</th>
              <td>Jogador 3</td>
              <td>Iniciante</td>
      
            </tr>
      
            <tr class="table-success">
              <th scope="row">4</th>
              <td>Jogador 4</td>
              <td>Iniciante</td>
            </tr>
      
            <tr class="table-success">
              <th scope="row">5</th>
              <td>Jogador 5</td>
              <td>Iniciante</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

</main>