<router-outlet></router-outlet>



  

<div class="quadradocheckbox">


<button type="button" class="btn btn-outline-success my-2 my-sm-0 modalbotao">
  Iniciar
</button>
<h2 class="h2sala">Nome da Sala:</h2>
<h2  class="h2nivel">Nível:</h2>
<h2 class="h2jogadores">Jogadores:</h2>

<div class="table-responsive-sm table-hover table-dark tableconfig">
  <table class="table">
    <thead>
      <tr class="table-success">
        <th scope="col">#</th>
        <th scope="col">Jogadores</th>
        <th scope="col">Honra</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-success">
        <th scope="row">1</th>
        <td>Jogador 1</td>
        <td>Iniciante</td>
      </tr>
      <tr class="table-success">
        <th scope="row">2</th>
        <td>Jogador 2</td>
        <td>Iniciante</td>
      </tr>
      <tr class="table-success">
        <th scope="row">3</th>
        <td>Jogador 3</td>
        <td>Iniciante</td>

      </tr>

      <tr class="table-success">
        <th scope="row">4</th>
        <td>Jogador 4</td>
        <td>Iniciante</td>
      </tr>

      <tr class="table-success">
        <th scope="row">5</th>
        <td>Jogador 5</td>
        <td>Iniciante</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container content chatbody">
  <div class="">
      <div class="">
        <div class="card">
          <div class="card-header">Chat</div>
          <div class="card-body height3">
            <ul class="chat-list">
              <li class="in">
                <div class="chat-img">
                  <img alt="Avtar" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                </div>
                <div class="chat-body">
                  <div class="chat-message">
                    <h5>Jimmy Willams</h5>
                    <p>Vamos começar a partida</p>
                  </div>
                </div>
              </li>
              <li class="out">
                <div class="chat-img">
                  <img alt="Avtar" src="https://bootdey.com/img/Content/avatar/avatar6.png">
                </div>
                <div class="chat-body">
                  <div class="chat-message">
                    <h5>Serena</h5>
                    <p>podemos começar</p>
                  </div>
                </div>
              </li>
              <li class="in">
                <div class="chat-img">
                  <img alt="Avtar" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                </div>
                <div class="chat-body">
                  <div class="chat-message">
                    <h5 class="name">Jimmy Willams</h5>
                    <p>Quem não esta pronto ?</p>
                  </div>
                </div>
              </li>
              <li class="out">
                <div class="chat-img">
                  <img alt="Avtar" src="https://bootdey.com/img/Content/avatar/avatar6.png">
                </div>
                <div class="chat-body">
                  <div class="chat-message">
                    <h5>Serena</h5>
                    <p>Falta alguem</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="">
</div>

</div>