<router-outlet></router-outlet>

<main class="background">
    <section class="listadeespera" *ngIf="partida">
    <div class="placar">
      <h2 class="h2">Nome da Sala: {{ partida.nm_partida }}</h2>
      <h2 class="h2">Nível: {{ partida.ds_nivel }} - {{ partida.ds_status }} </h2>
      <h2 class="h2">Jogadores: {{ partida.usuariosNaPartida }}/{{ partida.limiteUsuarios }}</h2>
    </div>
    <div class="tablee">
    <div class="table-responsive-sm table-hover table-dark tabela">
        <table class="table tabela">
          <thead>
            <tr class="table-success">
              <th scope="col">#</th>
              <th scope="col">Jogadores</th>
              <th scope="col">Honra</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-success" *ngFor="let usuario of partida.jogadores; let i = index">
              <th class="font-user" scope="row">{{ i }}</th>
              <th class="font-user">{{ usuario.nm_usuario }}</th>
              <th class="font-user">{{ usuario.nm_nivel }}</th>
            </tr>
          </tbody>
        </table>
      </div>

      <app-chat [cdPartida]="partida.cd_partida" [isOwner]="isOwner"></app-chat>
    </div>
    <div id="footer">
      <button (click)="exit()" class="exitButton" mat-raised-button color="warn">
        {{ isOwner ? 'Fechar partida' : 'Sair' }}
      </button>
      <button (click)="back()" class="backButton" mat-raised-button>Voltar</button>
      <button *ngIf="checkCanInit()" (click)="updateStatus('Iniciar')" class="backButton" mat-raised-button style="background-color: #158a00;">Iniciar partida</button>
      <button *ngIf="checkCanClose()" (click)="updateStatus('Finalizar')" class="backButton" mat-raised-button color="warn">Finalizar partida</button>
      <!-- <button (click)="openVote()" >Open vote</button> -->
    </div>
  </section>

  <section class="carregando" *ngIf="!partida">
    <mat-progress-spinner
        class="carregando"
        color="primary"
        mode="indeterminate"
        value="50">
    </mat-progress-spinner>
    
  </section>

</main>